/* Global */
body {
  background: #0d0d0d;
  color: #ddd;
  font-family: system-ui, sans-serif;
}

/* Player box */
#player {
  width: 360px;
  margin: 20px auto;
  text-align: center;
}

/* Title text */
#title {
  margin-bottom: 18px;
  font-size: 14px;
  opacity: 0.7;
}

/* Controls */
#controls {
  margin-bottom: 18px;
}

#controls button {
  background: #1b1b1b;
  border: none;
  color: #ddd;
  font-size: 16px;
  padding: 8px 14px;
  margin: 0 6px;
  cursor: pointer;
}

#controls button:hover {
  background: #2a2a2a;
}

/* MAIN LIST NOW A GRID */
#list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

/* Category Card */
.category-card {
  width: 30%;
  min-width: 250px;
  background: #111;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
}

/* Category Title */
.category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ccc;
  text-align: center;
}

/* Song list inside each card */
.category-songs {
  max-height: 850px;   /* shows approx 5 songs */
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Scrollbar styling */
.category-songs::-webkit-scrollbar {
  width: 6px;
}
.category-songs::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

/* Song item */
.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 6px;
  cursor: pointer;
  opacity: 0.5;
}

.song-item:hover {
  opacity: 0.9;
}

.song-item.active {
  background: #1f1f1f;
  opacity: 1;
}

/* Song title text */
.song-title {
  flex: 1;
}

/* Song timer text */
.song-time {
  font-size: 11px;
  opacity: 0.7;
  margin-left: 10px;
}

/* Top timer next to main title */
#time {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 10px;
}
